<header>
    <div class="header-content">
        <a id="home" href="#"><h2>Devstagram</h2></a>
        <div>
            <a href=""><img  src="img/home-7-48.png" alt=""></a>
            <a href=""><img  src="img/paper-plane-48.png" alt=""></a>
            <a href=""><img  src="img/compass-3-48.png" alt=""></a>
            <a href=""><img  src="img/favorite-4-48.png" alt=""></a>
            <a href=""><img class="profile-img"  src="img/profile.png" alt=""></a>
        </div>
    </div>
</header>